<mat-toolbar color="primary">
  <div class="hidden md:flex">
    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon (click)="sidenavToggle()">menu</mat-icon>
    </button>
  </div>
  <span>Angular Template App</span>
  <span class="spacer"></span>
  <div>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      [routerLink]="'/'"
    >
      <mat-icon>home</mat-icon>
    </button>
    <a mat-button [routerLink]="'/accounts'"> Accounts </a>
    <a mat-button [routerLink]="'/contacts'"> Contacts </a>
    <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
    <a mat-button [routerLink]="'/activities'"> Activities </a>
  </div>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with profile icon"
  >
    <mat-icon>user</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
