@import url("https://rsms.me/inter/inter.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, SegoeUI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}
